.todo{
  text-align: center;
}
.todo-wrapper{
  margin:40px auto 20px auto;
  min-height: 375px;
  padding: 20px;
  width: 400px;
  border: 5px solid rgba(73, 204, 249, 1.0); 
}

input{
width: 60%;
border: none;
margin-right: 10px;
padding: 5px;
line-height: 17px;
border-top:2px solid rgba(73, 204, 249, 1.0); 
border-bottom:2px solid rgba(73, 204, 249, 1.0); 

}
input:focus{
  border: none;
  outline: none;
  border-top:2px solid rgba(73, 204, 249, 1.0); 
  border-bottom:2px solid rgba(73, 204, 249, 1.0); 

}
.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style:solid;
  padding: 8px;

}
.btn-primary{
  color: rgba(73, 204, 249, 1.0); 
  border-color: rgba(73, 204, 249, 1.0); 
  background-color: transparent;
}

.todowrapper{
  border-bottom:1px solid #efefef; 
  text-align: left;
  margin-bottom:10px; 
}


ul{
  text-align: left;
}